In [7]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
import pickle

In [3]:
airlines_2017 = pd.read_csv('combined_2017_csv.csv', low_memory=False)
airlines_2017.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,OP_CARRIER_AIRLINE_ID,OP_CARRIER,ORIGIN_AIRPORT_ID,...,CANCELLATION_CODE,DIVERTED,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 37
0,2017,2,4,10,1,2017-04-10,DL,19790,DL,12478,...,NaN,0.0,203.0,1521.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,2,4,10,1,2017-04-10,DL,19790,DL,14685,...,NaN,0.0,43.0,214.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2017,2,4,10,1,2017-04-10,DL,19790,DL,10397,...,NaN,0.0,300.0,2182.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,2,4,10,1,2017-04-10,DL,19790,DL,14771,...,NaN,0.0,298.0,2586.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,2,4,10,1,2017-04-10,DL,19790,DL,10397,...,NaN,0.0,35.0,214.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
airlines_2017_df =airlines_2017.groupby(['MONTH','DAY_OF_MONTH','OP_UNIQUE_CARRIER'], as_index=False)['DEP_DELAY'].mean()
airlines_2017_df

      MONTH  DAY_OF_MONTH OP_UNIQUE_CARRIER  DEP_DELAY
0         1             1                AA  13.474717
1         1             1                AS  40.791667
2         1             1                B6   8.789072
3         1             1                DL   8.638934
4         1             1                EV  17.517078
...     ...           ...               ...        ...
4375     12            31                NK  23.343612
4376     12            31                OO  19.173171
4377     12            31                UA   7.905239
4378     12            31                VX   1.972222
4379     12            31                WN  13.519830

[4380 rows x 4 columns]

In [5]:
airlines = ['AA','B6','NK','UA','VX']
dictionary = {}
X = []
y=[]
for airline in airlines:
    dictionary[airline] = airlines_2017_df.loc[airlines_2017_df['OP_UNIQUE_CARRIER'] == airline]
    print(dictionary)
#     airline[airline] = airlines_2017_df.loc[airlines_2017_df['OP_UNIQUE_CARRIER'] == airline]
    X = airline[airline][["MONTH","DAY_OF_MONTH"]]
    y = airline[airline]["DEP_DELAY"]
#     Xy.append({'X': X, 'y': y})
    regr = linear_model.LinearRegression()
    regr.fit(X, y)
    predicted = regr.predict([[1,1]])
    print(predicted)

{'AA':       MONTH  DAY_OF_MONTH OP_UNIQUE_CARRIER  DEP_DELAY
0         1             1                AA  13.474717
12        1             2                AA  15.989875
24        1             3                AA  10.142229
36        1             4                AA   9.800664
48        1             5                AA  11.404634
...     ...           ...               ...        ...
4320     12            27                AA   8.119259
4332     12            28                AA   7.597898
4344     12            29                AA  11.092499
4356     12            30                AA  14.389392
4368     12            31                AA  26.075279

[365 rows x 4 columns]}

TypeError: string indices must be integers

In [27]:
print(dictionary)

{'AA':       MONTH  DAY_OF_MONTH OP_UNIQUE_CARRIER  DEP_DELAY
0         1             1                AA  13.474717
12        1             2                AA  15.989875
24        1             3                AA  10.142229
36        1             4                AA   9.800664
48        1             5                AA  11.404634
...     ...           ...               ...        ...
4320     12            27                AA   8.119259
4332     12            28                AA   7.597898
4344     12            29                AA  11.092499
4356     12            30                AA  14.389392
4368     12            31                AA  26.075279

[365 rows x 4 columns], 'B6':       MONTH  DAY_OF_MONTH OP_UNIQUE_CARRIER  DEP_DELAY
2         1             1                B6   8.789072
14        1             2                B6  18.650121
26        1             3                B6  23.431734
38        1             4                B6  18.735108
50        1             5                B6  11.523926
...     ...           ...               ...        ...
4322     12            27                B6  17.763189
4334     12            28                B6  19.630841
4346     12            29                B6  25.622509
4358     12            30                B6  32.435057
4370     12            31                B6  31.144219

[365 rows x 4 columns], 'NK':       MONTH  DAY_OF_MONTH OP_UNIQUE_CARRIER  DEP_DELAY
7         1             1                NK  16.773779
19        1             2                NK  36.423077
31        1             3                NK  17.002506
43        1             4                NK   5.737624
55        1             5                NK  15.669975
...     ...           ...               ...        ...
4327     12            27                NK   8.895197
4339     12            28                NK   5.259912
4351     12            29                NK   9.969231
4363     12            30                NK  16.374179
4375     12            31                NK  23.343612

[365 rows x 4 columns], 'UA':       MONTH  DAY_OF_MONTH OP_UNIQUE_CARRIER  DEP_DELAY
9         1             1                UA  10.427577
21        1             2                UA  28.057486
33        1             3                UA  23.589841
45        1             4                UA  19.534934
57        1             5                UA  17.255563
...     ...           ...               ...        ...
4329     12            27                UA  11.821678
4341     12            28                UA  13.459207
4353     12            29                UA  10.746339
4365     12            30                UA  12.694350
4377     12            31                UA   7.905239

[365 rows x 4 columns], 'VX':       MONTH  DAY_OF_MONTH OP_UNIQUE_CARRIER  DEP_DELAY
10        1             1                VX   7.723757
22        1             2                VX  25.261905
34        1             3                VX  56.184615
46        1             4                VX  22.380208
58        1             5                VX  26.255102
...     ...           ...               ...        ...
4330     12            27                VX  22.688073
4342     12            28                VX   0.682243
4354     12            29                VX  -0.083333
4366     12            30                VX  14.097087
4378     12            31                VX   1.972222

[365 rows x 4 columns]}

In [27]:
AA_df = airlines_2017_df.loc[airlines_2017_df['OP_UNIQUE_CARRIER'] == "AA"]
AA_df
X = AA_df[["MONTH","DAY_OF_MONTH"]]
y = AA_df["DEP_DELAY"]
regr_AA = linear_model.LinearRegression()
regr_AA.fit(X, y)

LinearRegression()

In [30]:
AA_predicted = regr_AA.predict([[1,1]])
print(AA_predicted)

[9.84664284]

In [32]:
B6_df = airlines_2017_df.loc[airlines_2017_df['OP_UNIQUE_CARRIER'] == "B6"]
B6_df
X = B6_df[["MONTH","DAY_OF_MONTH"]]
y = B6_df["DEP_DELAY"]
regr_B6 = linear_model.LinearRegression()
regr_B6.fit(X, y)

LinearRegression()

In [33]:
B6_predicted = regr_B6.predict([[1,1]])
print(B6_predicted)

[20.44956245]

In [34]:
NK_df = airlines_2017_df.loc[airlines_2017_df['OP_UNIQUE_CARRIER'] == "NK"]
NK_df
X = NK_df[["MONTH","DAY_OF_MONTH"]]
y = NK_df["DEP_DELAY"]
regr_NK = linear_model.LinearRegression()
regr_NK.fit(X, y)

LinearRegression()

In [35]:
NK_predicted = regr_NK.predict([[1,1]])
print(NK_predicted)

[16.66935841]

In [36]:
UA_df = airlines_2017_df.loc[airlines_2017_df['OP_UNIQUE_CARRIER'] == "UA"]
UA_df
X = UA_df[["MONTH","DAY_OF_MONTH"]]
y = UA_df["DEP_DELAY"]
regr_UA = linear_model.LinearRegression()
regr_UA.fit(X, y)

LinearRegression()

In [37]:
UA_predicted = regr_UA.predict([[1,1]])
print(UA_predicted)

[14.54201064]

In [38]:
VX_df = airlines_2017_df.loc[airlines_2017_df['OP_UNIQUE_CARRIER'] == "VX"]
VX_df
X = VX_df[["MONTH","DAY_OF_MONTH"]]
y = VX_df["DEP_DELAY"]
regr_VX = linear_model.LinearRegression()
regr_VX.fit(X, y)

LinearRegression()

In [39]:
VX_predicted = regr_VX.predict([[1,1]])
print(VX_predicted)

[22.88222365]

In [40]:
print(AA_predicted)
print(B6_predicted)
print(NK_predicted)
print(UA_predicted)
print(VX_predicted)

[9.84664284]
[20.44956245]
[16.66935841]
[14.54201064]
[22.88222365]